<!doctype html>
<html class="no-js" lang=""> 
    <head>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Home - Xaenomorph</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">   
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/linearicons-web-font.css">	
		<link rel="stylesheet" href="css/responsive.css">
    </head>
    <body style="background-color:black">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
						<div class="homepage text-center">
							<div class="main_header">
								<h2>Welcome to</h2>
								<h3>XAENOMORPH</h3>
                                <p>Insanity at its peak</p>
                                <form action="https://fauux.neocities.org/">
                                <button class="btn btn-default btn-transparent" type="submit">Travel space and time</button>
                                </form>   
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="entirebody">
        <div class="presentation">
            <h2 id="testone" >PRESENTATION</h2>
            <br>
            <p>Howdy fellow <b>traveler</b>, and welcome to my humble abode!
                <p>Uhm, so...I have literally no idea how you ended up visiting this website...
                    <p>Clicking on random links on the Internet isn't the safest thing to do while you try to deal with <b>boredom</b>, right?
                    <p>As we usually tend to say, <b>curiosity</b> killed the cat. 
                        <p>Therefore, don't be a <b>cat</b>. Really.
                    <p>Too bad you just clicked on that link anyway, and now you're here, <b>clueless</b> of what is happening.
                <p><i>so, y'know...</i>
                    <br>
                <h3>Let me introduce myself a little</h3>
                <br>
                <p>My name is <b>Angelo</b>. 
                <p>I'm an Italian guy keen on <b>learning</b> new things everyday.
                <p>It would be pretty accurate to describe me as a <b>tech enthusiast</b>, someone interested in the art of <b>software development</b> and other bullshit like that.
                <p>Needless to say that I'm pretty much a filthy <b>newb</b>, but I try to improve day after day. 
                <p>My <b>experience</b> in this sector revolves mainly around C and Py practice sessions, other than <b>aimless</b> attempts at coding random static HTML pages.</p>
                <br>
                <p>This very website is a semi-failed <b>experiment</b> of design and web development as a whole! Yay!
                <p>I've recently converted it to <b>Jekyll</b> in order to manage posts and the <b>blog</b> page itself in a "comfortable" way.</p>
                    <br>
                    <h3>Oh right, in the blog page I write about whatever pops into my head</h3>
                    <h3>give it a shot, you may find something interesting</h3>
                    <br>
                    <br>
                <p>While chasing the feeble and vain <b>hope</b> of basing my future job on this stuff I do as a mere <b>hobby</b>, I cultivate several other passions,
                <p>ranging from <b>reading</b> (mainly sci-fi/cyberpunk novels and mythology books), <b>writing</b> and <b>working out</b>, 
                <p>to <b>cinematography</b> (my favorite directors being Lynch, Von Trier, Polanski, P.T. Anderson and Bergman), 
                <p><b>music</b> (basically obsessed with Crystal Castles, Radiohead, Slowdive and Aphex Twin), <b>videogames</b> and even <b>art.</b></p>
                <br>
                <p>It may sound <b>cringy</b> and cocky, but I consider myself to be an <b>aesthete</b>,
                <p>a cultist of <b>beauty</b>, constantly <b>bewitched</b> by visually pleasing things <b>surrounding</b> me,
                <p>while being driven mostly by <b>admiration</b> but also <b>envy</b> towards those very things.</p>
                    <br>
                    <h3>This site is nothing more than a collection of ramblings and thoughts</h3>
                    <h3>something that keeps slowly evolving with time</h3>
                    <h3>something that I want to make my unique, comfy little place</h3>
                    <br><br>
                <p>You're free to <b>explore</b>, but keep in mind that some pages may still not be fully functional.
                <p>That said, see you around.

                   
                      <br><br>
            <iframe src="https://open.spotify.com/embed/user/-shakyy/playlist/7wIRyq64ekpcwZFbOko9gt" width="340" height="450" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <br><br><br>
            <a href="https://github.com/Faithless" class="fab fa-github"></a>
            <a href="https://t.me/faithlessly" class="fab fa-telegram-plane"></a>
            <a href="https://steamcommunity.com/id/faitlynn" class="fab fa-steam"></a>
             
            </div>

    </div>
        </div>
        <br><br><br>
        <div class="footer">
                <a href="" class="active">Home</a>
                <a href="blog">Blog</a>
                <a href="projects">Projects</a>
                <a href="contacts/">Contacts</a>

              </div>

	<script>
var host = "faithless.github.io";
if ((host == window.location.host) && (window.location.protocol != "https:"))
    window.location.protocol = "https";
</script>

        </section>	
    </body>
</html>